.LoginPaper {
  margin: auto;
  width: 300px;
  padding: 15px;
}

.loginBackground {
  background-image: url("./bluebg.jpg");
  background-size: cover;
  height: calc(66vh + 120px);
  padding-top: calc(34vh - 120px);
}
